@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
	width: 100%;
	height: 100%;
}

body {
  	margin: 0;
 	padding: 0;
  	display: flex;
  	justify-content: center;
  	align-items: center;

	color: white;
  	background: url(./images/background_texture.png);
}

.roboto {
	font-family: 'Roboto', sans-serif;
}

.default-font {
	font-size: 60px;
}